DISCORD_TOKEN: [insert your bot token here]
VALHEIM_SERVER_IP: [insert your Valheim server IP here]
VALHEIM_QUERY_PORT: [insert your Valheim query port here]
DOCKER_CONTAINER_NAME: [insert your Docker container name here]
# EMPTY_THRESHOLD: [insert the threshold for empty minutes here]
# CHECK_INTERVAL: [insert the check interval here]